@charset "utf-8";

@font-face {
    font-family: 'Pretendard GOV';
    src: url('../fonts/PretendardGOV-Thin.woff2') format('woff2'),
    url('../fonts/PretendardGOV-Thin.woff') format('woff');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard GOV';
    src: url('../fonts/PretendardGOV-Light.woff2') format('woff2'),
    url('../fonts/PretendardGOV-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard GOV';
    src: url('../fonts/PretendardGOV-Regular.woff2') format('woff2'),
    url('../fonts/PretendardGOV-Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard GOV';
    src: url('../fonts/PretendardGOV-Medium.woff2') format('woff2'),
    url('../fonts/PretendardGOV-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard GOV';
    src: url('../fonts/PretendardGOV-SemiBold.woff2') format('woff2'),
    url('../fonts/PretendardGOV-SemiBold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard GOV';
    src: url('../fonts/PretendardGOV-Bold.woff2') format('woff2'),
    url('../fonts/PretendardGOV-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard GOV';
    src: url('../fonts/PretendardGOV-ExtraBold.woff2') format('woff2'),
    url('../fonts/PretendardGOV-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard GOV';
    src: url('../fonts/PretendardGOV-Black.woff2') format('woff2'),
    url('../fonts/PretendardGOV-Black.woff') format('woff');
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('../fonts/NotoSerif-Bold.woff2') format('woff2'),
    url('../fonts/NotoSerif-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.woff2') format('woff2');
    font-display: swap;
}